

.body-initial {background-color: rgba(31,31,31,1); position: static;}.silex-id-1478366444112-1 {background-color: transparent; position: static; margin-top: -1px;}.silex-id-1478366444112-0 {background-color: transparent; min-height: 100px; position: relative; margin-left: auto; margin-right: auto;}.silex-id-1684706725609-0 {width: 1436px; height: 1130px; position: absolute; top: 164.296875px; left: 72px;}@media only screen and (max-width: 480px) {}
.text-element > .silex-element-content {font-family: 'Roboto', sans-serif;}
.website-width {width: 1200px;}@media (min-width: 481px) {.silex-editor {min-width: 1400px;}}body.silex-runtime {opacity: 1;}
